.tile-accessories {
    background-color: #F8D8E2;
    color: #90183D;
}

.tile-internet {
    background-color: #EDF6FE;
    color: #0453A4;
}

.tile-develop {
    background-color: #FFF6E1;
    color: #A87801;
}

.tile-games {
    background-color: #E5E1FF;
    color: #1B07A2;
}

.tile-create {
    background-color: #FFF6EF;
    color: #A24806;
}

.tile-work {
    background-color: #EDF8F5;
    color: #2E7A68;
}